<section class="content">
    <div class="block-content">
        <h3 class="block-title">About Me</h3>
        <div class="row">
            <div>
                For as long as I can remember, I have been driven to surpass myself.
                Sculpted by my many experiences, I continue honing my craft.
                I want to create, provide, and innovate.
                I want to be acknowledged, I want to earn my place.
                I want to lend the skills I have aquired to something larger than a corporation.
                Let's break the mold together.
            </div>
        </div>
    </div>
</section>

@code {

}
