<section class="content">
    <div class="block-content">
        <h3 class="block-title">About Me</h3>
        <div class="row">
            <div>
                Inspiring about me section coming soon.
            </div>
        </div>
    </div>
</section>

@code {

}
