<div class="container-fluid py-5" id="about">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">About</h1>
            <h1 class="position-absolute text-uppercase text-primary">About Me</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 pb-4 pb-lg-0">
                <img class="img-fluid rounded w-100" src="img/about.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-4">Full Stack Software Engineer</h3>
                <p>
                    Starting my professional software engineering career at the young age of 18, I have a unique experience growing up during the rise of the digital age.
                    As a member of generation Z, I am looking to bring fresh new ideas to the software development world, and utilize my creativity to make the world a better place.
                    I love learning new things and gain satisfaction from solving problems that challenge me.
                    <br />
                    <br />
                    I also love my cats (Edward and Stella) and my derpy dog (Mars).
                    <br />
                    <br />
                </p>
                <div class="row mb-3">
                    <div class="col-sm-6 py-2"><h6>Name: <span class="text-secondary">Ian Osborne</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Birthday: <span class="text-secondary">Februrary 6, 2002</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Degree: <span class="text-secondary">Associate's</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Experience: <span class="text-secondary">@(DateTime.Now.Year - 2020) Years</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Phone: <span class="text-secondary">270-872-9009</span></h6></div>
                    <div class="col-sm-6 py-2"><h6>Email: <span class="text-secondary">ian.cosborne@yahoo.com</span></h6></div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
