<h3 class="block-title">Experience</h3>
<div class="timeline experience">
    <div class="row">
        <div class="col-md-12">
            <div class="exp-holder">
                <div class="exp">
                    <div class="hgroup">
                        <h4><span>AEM Developer/Full-Stack .NET Developer </span><br />Net Tango</h4>
                        <h5>Dec 2020 - <span class="current">Present</span></h5>
                    </div>
                    <p>Researched Adobe Experience Manager (AEM) in order to become Net Tango's technical expert on AEM, gained experience training other developers on setting up, deploying to, and developing in AEM environments in order to meet the needs of many enterprise level clients. Also cross trained to work on the .NET development teams in order to build, maintain, and update enterprise level .NET applications as a part of a diverse agile team.</p>
                </div>
                <div class="exp">
                    <div class="hgroup">
                        <h4><span>HD Technician </span><br />BlueGrass Cellular</h4>
                        <h5>Sept 2020 - Oct 2020</h5>
                    </div>
                    <p>Successfully troubleshooted faulty equipment such as routers, computers, servers and the like in order to satisfy customer needs in a timely and orderly fashion.</p>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
