<div class="container-fluid bg-primary text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="container text-center py-5">
        <div class="d-flex justify-content-center mb-4">
            <a class="btn btn-light btn-social mr-2" href="https://github.com/ianOsborne"><i class="fab fa-github"></i></a>
            <a class="btn btn-light btn-social mr-2" href="https://www.facebook.com/ian.osborne.50767"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-light btn-social mr-2" href="https://www.linkedin.com/in/ian-osborne-80491b1a3/"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-light btn-social" href="https://www.instagram.com/clown.Oz/"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="d-flex justify-content-center mb-3">
        </div>
        <p class="m-0">
            Built using Blazor WebAssembly and Azure Functions
        </p>
    </div>
</div>
<!-- Footer End -->
<!-- Scroll to Bottom -->
<i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

<!-- Back to Top -->
<a href="#" class="btn btn-outline-dark px-0 back-to-top"><i class="fa fa-angle-double-up"></i></a>
