<section class="content">
    <div class="block-content">
        <h3 class="block-title">Portfolio</h3>
        <div class="row">
            <div class="col-md-12">
                <!--  <div class="filters">
                    <span>Filters :</span>
                    <ul id="filters">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".artwork"></li>
                        <li data-filter=".webdesign">Graphic Design</li>
                        <li data-filter=".design">Art Work</li>
                    </ul>
                </div> -->
                <div class="portfolio-container row isotope" id="portfolio-container">
                    <!-- WORK 1 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a class="open-project" href="project-1.html">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Work</h2>
                                        <hr>
                                        <p>Work coming soon.</p>
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="images/construction.png" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 1 END -->
                </div>
            </div>
        </div>
    </div> 
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a href="mailto:mail@ianosborne.dev" class="btn lowercase">mail@ianosborne.dev</a>
        </div>
    </div>
</section>

@code {

}
