<div class="container-fluid py-5" id="qualification">
    <div class="container">
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Qualifications</h1>
            <h1 class="position-absolute text-uppercase text-primary">Education & Expericence</h1>
        </div>
        <div class="row  align-items-baseline">
            <div class="col-lg-6">
                <h3 class="mb-4">My Education</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Associate's of Science</h5>
                        <p class="mb-2"><strong>Elizabethtown Community & Technical College</strong> | <small>2018 - 2020</small></p>
                        <p>During High School I was able to earn a full degree from my local college in an effort to immediately join the work force.</p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Various Certifications</h5>
                        <p class="mb-2"><strong>Greater Knox Coding Academy</strong> | <small>2019 - 2020</small></p>
                        <p>I participated in the first ever rendition of the Greater Knox Coding Academy, where I earned many certification required for a software development job, such as the Oracle Certified Associate and Certified Scrum Developer.</p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Technical Certificates</h5>
                        <p class="mb-2"><strong>Elizabethtown Community & Technical College</strong> | <small>2018 - 2020</small></p>
                        <p>During my time earning an Associate's degree I also was able to obtain a few technical certifications such as KCTCS Computer Tech Basic.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="mb-4">My Expericence</h3>
                <div class="border-left border-primary pt-2 pl-4 ml-2">
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">Lead AEM Developer/Full Stack .NET Developer</h5>
                        <p class="mb-2"><strong>Net Tango</strong> | <small>2020 - Current</small></p>
                        <p>At Net Tango, I am responsible for learning all I can about Adobe Experience Manager, so that I can support enterprise clients. I am also cross trained to work on the .NET development teams and I even introduced Blazor to the company as a new technology that saves development time.</p>
                    </div>
                    <div class="position-relative mb-4">
                        <i class="far fa-dot-circle text-primary position-absolute" style="top: 2px; left: -32px;"></i>
                        <h5 class="font-weight-bold mb-1">IHD Technician</h5>
                        <p class="mb-2"><strong>Bluegrass Cellular</strong> | <small>2020 - 2020</small></p>
                        <p>Here I was able to put my customer service and people skills to use in order to satisfy the needs of clients in a field that I had interest in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
