<section class="content" id="about">
    <div class="block-content">
        <h3 class="block-title">Profile</h3>
        <h3 class="subheading">I'm a <strong>Full-Stack Software Developer</strong> from Elizabethtown, KY. I hope to live my life in  creative and enriching ways every day.</h3>
        <p>I am constantly looking for opportunities to work with others to create valuable solutions, whether it be for enterprise level clients or small business owners.</p>
        <div class="info-list row">
            <div class="col-sm-6"><span>Name : </span> Ian Osborne</div>
            <div class="col-sm-6"><span>Date of birth : </span> Februrary 6, 2002 </div>
            <div class="col-sm-6"><span>Email : </span>ian.cosborne@yahoo.com</div>
            <div class="col-sm-6"><span>Phone : </span> (270) 872-9009 </div>
            <div class="col-sm-6"><span>Interest : </span> freelance, full-time</div>
        </div>
        <img class="sign" src="images/signature.png" alt="">
    </div>
    <div class="block-content">
        <SkillsSection />
    </div>
    <div class="block-content">
        <ExperienceSection />
    </div>
    <div class="block-content">
        <EducationSection />
    </div>
    <div class="block-content">
        <ServicesSection />
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a href="mailto:ian.cosborne@yahoo.com" class="btn lowercase">ian.cosborne@yahoo.com</a>
        </div>
    </div>
</section>
@code {

}
