@using ResumeWebsite.Shared
<h3 class="block-title">Services</h3>
<div class="row">
    @foreach(var service in Services)
    {
        <div class="col-md-4 col-sm-6 service">
            <div class="service-icon">
                <i class="ion-laptop"></i>
            </div>
            <h4>@service.Title</h4>
            <p>@service.Description</p>
        </div>
    }
</div>
@code {
    private IEnumerable<Service> Services = new List<Service>()
    {
        new Service("Web Design", "I create functional websites to meet the needs of both enterprise level clients and small business owners alike."),
        new Service("App Development", "I am always on the lookout for new development opportunities, and would love to bring your dream app to life!"),
        new Service("Graphic Design", "I love expressing myself through creative outlets, such as designing logos, banners, branding, etc."),
    };
}
